body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #000;

    .menu {
        width: 100%;
        height: 100%;
        text-align: center;

        .header {
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .main {
            width: 100%;
            height: 60vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            #two-button {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                button {
                    width: 25%;
                    height: auto;
                    margin: 10px;
                }
            }

            #convert-before {
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                text-align: center;

                #progress {
                    width: 60%;
                    margin: 0 auto;
                    // #progressbar{
                    //     width: 60%;
                    //     height: auto;
                    //     margin: 0 auto;
                    // }
                }
            }

            #convert-after {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            input {
                width: 55%;
                height: auto;
            }

            button {
                width: 25%;
                height: auto;
                margin: 10px;
            }

            ol {
                width: 70%;
                height: 50vh;
                overflow-y: scroll;

                li {
                    width: 100%;
                    text-align: left;

                    #full-path {
                        // 文字を小さくする
                        font-size: 0.8em;

                        #file-name {
                            // 文字を大きくする
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }

        .footer-button {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;

            button {
                width: 25%;
                height: auto;
                margin: 10px;
            }
        }

    }
}